.site-footer {
  background-color: #1D1D1D;
  color: white;

  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);

  height: 90px;
  padding: 1em;
  margin-top: 2em;
  ul {
    display: flex;
    justify-content: center;
    li {
      list-style: none;
      padding: 0 2em;
    }
  }
  p {
    text-align: center;
  }
}
