.logo {
  @include font-size(30px);
  color: white;
  letter-spacing: 12.5px;
  line-height: 41px;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
  text-transform: uppercase;
  text-decoration: none;
}

nav {
  height: 80px;
  background: rgba(0,0,0,0.50);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  color: white;
  .logo {
    float: left;
    line-height: 80px;
    @media (max-width: 800px) {
      float: none;
      text-align: center;
      @include font-size(24px);
    }
  }
  #menu-toggle {
    fill: white;
    display: none;
    @media (max-width: 800px) {
      display: block;
      float: right;
      margin-top: 1.5em;
      margin-right: 1.5em;
    }
  }
  ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-flex-flow: row wrap;

    margin: 0;
    a {
      text-decoration: none;
      display: block;
      padding: 0 1em;
      line-height: 80px;
      color: white;
    }
    li {
      list-style-type: none;
    }
  }
}

@media all and (max-width: 800px) {
  nav ul {
    display: none;
    //justify-content: space-around;
  }
  .show-nav {
    -webkit-transition: 1s ease all;
    transition: 1s ease all;
    nav {
      margin-bottom: 270px;
      ul {
        display:block;
      text-align: center;
      background: rgba(0, 0, 0, 0.5);
      }
      li {
        display: block;
      }
    }
  }
}

@media all and (max-width: 600px) {
  nav ul {
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  nav ul a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }


  nav ul li:last-of-type a {
    border-bottom: none;
  }
}
